body { 
    background: rgb(4, 3, 3);
    color:rgb(221, 210, 210);
    margin: 25px;
}


header {
 border-bottom: solid 1px rgb(53, 3, 3);
 padding: 17px;
 font-size: rgb(0, 0, 0); 
 font-size: 27px;
}

section {
    background:rgb(0, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chama-texto {
    margin-right: 5%;
 }